/* some fundemental styling to avoid dublication the same code */

body {
	margin: 0;
	background: #dgs;
	font-family: arial, sans-serif;
}

a{
	text-decoration-line: none;
}

li{
	display: inline-block;
}

/* navigator bar style */

header {
	background-color: #FFF;
	box-shadow: 0px 0px 20px #ccc;
}

.container{
	width: 71%;
	margin: auto;
}

nav{
	margin: 0  180px 0 145px;
	text-align: center;	
}

.logo {
	float: left;
	padding-top: 21px
}

nav ul {
	margin: 0;
	padding: 25px 0 19px 0;
	list-style: none;
}

nav li {
	margin-left: 15px;
}

nav a{

	color: #000;
	font-family: arial, sans-serif;
}

nav a:hover{
	color: #bbb;
}


/* cleaning style */
.clr{
	clear: both;
}

/* slider section */

#slider{
	background-image: url("../img/image.jpg");
	background-size: auto 550px;
	background-position: center;
	background-repeat: no-repeat;
	height: 550px;
	border-bottom: solid #E6E6EE 1px;
}

/* important info bar */

.info-bar{
	background-color: #FFF;
	display: inline;
}

.blue-box{
	float: left;
	background-color: #357EEC;
	width: 220px;
	height: 90px
}

.blue-box p{
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	color: white;
	padding-top: 20px;
}

.white-box{
	float: left;
	width: 500px;
	height: 90px
	background: #fff;
}

.white-box p{
	padding: 0px 0 0px 50px;
	line-height: 10px;
	color: #333;
}

.apology {
	padding-top: 10px;
}

.apology a{
	color: #333;
}

.apology a:hover{
	color: #777;
}

.date {
	font-size: 14px;
}

/* Mobile Servives */

.mobile-service-header{
	text-align: center;
	background-image: url("../img/mobile-services.png");
	background-size: auto 400px;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #F3F4F6;
	height: 210px;
	margin-top: 0;
	line-height: 25px;
	border-top: solid 1px #fff;

}

.mobile-service-header-content{
		padding-top: 68px;
}

.mobile-service-header h1{
	font-size: 32px;
	margin-top: 0;
	padding-top: 5px
}

.mobile-service-header p{
	color: #333;
}

.mobile-service-list{
	text-align: center;
	margin: 0;
	background-color: #6A7682;
	padding: 45px 0;
}

.mobile-service-list ul{
}
.mobile-service-list a{
	color: #fff;
	margin: 0 50px;
}

/* Discover */

#discover{
	background-color: #F4F5F6;
	padding-top: 40px;
}

.discover-grid{
	display: grid;
	grid-template-columns: 310px 310px 310px;
	grid-gap: 10px;
	text-align: center;
	width: 73%;
	margin: auto;
	padding-bottom: 80px;
}

.discover-grid-box{
	float: left;
	height: 313px;
	background-color: #FFFFFF;
	text-align: center;
}

.discover-grid-box img{
	margin: auto;
	padding-top: 30px;
	width: 215px;
	height: 215px;
}


.discover-grid-box h1{
	font-size: 16px;
	color: #333;
	font-weight: normal;
}

/* Services */

#services{
	padding-top: 68px;
	text-align: center;
}

.services-header h1{
	font-size: 32px;
	margin-top: 0;
	padding-top: 5px
}

.services-header p{
	color: #333;
	margin-bottom: 30px;
}

.services-grid{
	display: grid;
	grid-template-columns: 432px 420px 420px;
	grid-gap: 5px;
	text-align: center;
	padding: 0 10px;
	margin: auto;
	padding-bottom: 80px;
}

a:hover .animated-img{
	opacity: 0.6;
  	transition: .2s ease;

}

.services-grid-box{
	float: left;
	height: 430px;
	background-color: #FFFFFF;
	position: relative;
}

.services-grid-box img{
	margin: auto;
	padding: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
}

.services-grid-box-info{
	width: 100%;
	position: absolute;
	bottom: 0;
	text-align: left;
	padding: 0 0 37px 30px;

}

.services-grid-box-info p{
	color: #FFFFFF;
	margin: 24px 0 0 0;
	line-height: 0px;
	text-shadow: 1px 1px 3px black; 
}

.services-grid-box-info-field{
	font-size: 12px
}
.services-grid-box-info-product{
	font-size: 18px;
}
.services-grid-box-info-description{
	font-size: 15px;
}

/* social media links */

.social-media{
	text-align: center;
	background-color: #F4F5F6;
	height: 300px;
}

.social-media-content{
	margin: 0;
	padding: 78px 0 80px 0;
}

.social-media-content h1{
	font-size: 32px;
	margin: 0;
	padding: 0;
}

.social-media-content ul{
	margin: 39px auto 0 auto;
	padding: 0;
	width: 360px;
}

.social-media-content li:first-child{
	margin-left: 0;
}

.social-media-content li{
	float: left;
	margin-left: 30px;
}

/* news section */

.news{
	text-align: center;
	background-color: #FFFFFF;
	height: 300px;
}

.news-content{
	margin: 0;
	padding: 78px 0 80px 0;
}

.news-content h1{
	font-size: 32px;
	margin: 0;
	padding: 0;
}