body {
	margin: 0;
	background: #EFEFEF;

}

header {
	margin: 0 auto;
	background-color: #FFF;
	padding: 21px;
}

.nav-bar{
	width: 73%;
	margin: auto;
}

nav{
	margin: 0  180px 0 180px;
	text-align: center;
}

.logo {
	float: left;
}

nav ul {
	margin: 0;
	padding: 3px 55px 0 0;
	list-style: none;
}

nav li {
	display: inline-block;
	margin-left: 15px;
}

nav li a{

	color: black;
	font-family: arial, sans-serif;
	text-decoration-line: none;
}
